<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}
  <div class="p-row">
    <div class="p-12">
      <h1 class="page-title">Your bag</h1>
      <form action="/cart" method="post" novalidate class="cart table-wrap">
        <div class="cart-table">
          {% for item in cart.items %}
            <div class="p-row cart-row">
              <div class="p-3" data-label="{{ 'cart.label.style' | t }}">
                <div class="cart-value">
                  <p class="small">
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-remove">
                      <span>x</span>
                    </a>
                    <strong>STYLE</strong>
                  </p>
                  <p class="small">{{ item.product.title }}</p>
                </div>
              </div>
              <div class="p-3" data-label="{{ 'cart.label.quantity' | t }}">
                <div class="cart-value">
                  <p class="small"><strong>QUANTITY</strong></p>
                  <p class="small">{{ item.quantity }}</p>
                </div>
                <!--input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0"-->
              </div>
              <div class="p-3" data-label="{{ 'cart.label.price' | t }}">
                <div class="cart-value">
                  <p class="small"><strong>PRICE</strong></p>
                  <p class="small">{{ item.price | money }}</p>
                </div>
              </div>
              <div class="p-3 cart-image" data-label="{{ 'customer.order.product' | t }}">
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="cart-calculations">
          {% if settings.cart_notes_enable %}
            <!--div class="grid__item two-thirds small--one-whole">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div-->
          {% endif %}
          <div class="text-right">
            <h1>SUBTOTAL: {{ cart.total_price | money }}</h1>
            {% if cart.total_discounts > 0 %}
              {% assign savings = cart.total_discounts | money %}
              <p>
                <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
              </p>
            {% endif %}
            <button type="submit" name="checkout" class="btn">{{ 'cart.general.checkout' | t }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% else %}
  <div class="p-row">
    <div class="p-12">
      <h1 class="page-title">Your bag</h1>
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
  </div>
{% endif %}